.searchWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 6px;
}

.searchInput {
  padding: 4px 20px 4px 2px;
  border: none;
  font-size: medium;
}

.searchInput:focus {
  outline: none;
}
.searchIcon {
  height: 20px;
  width: 20px;
  padding: ;
  color: #000;
}
